html, body{
    height:100%;
}
#approche{
    background: url('img/image-1-egae-1000x1800.jpg');
    color:white;
    height:800px;
}
#groupe_egae{
    background: url('img/image\ colonne1.jpg');
    background-size: cover;
    height: 800px;
   
}