html, body{
    height:100%;
}
a, a:hover{
    text-decoration: none;
    color:white;
}

#approche{
    background: linear-gradient(transparent,rgba(0,0,0,1)),url('img/image-1-egae-1000x1800.jpg');
    background-size:cover;

    color:white;
    height:750px;

    
}
#groupe_egae{
    background: linear-gradient(transparent,rgba(0,0,0,1)),url('img/image\ colonne1.jpg');
    background-size: cover;
    height: 750px; 

}

#hover_approche{
    display:none;
}


#solution{
    background: url('img/Asite_couv21.jpg');
    background: linear-gradient(transparent,rgba(0,0,0,1)),url('img/image\ colonne1.jpg');
    background-size: cover;
    height:750px;
    
}

#hover_groupe{
    display:none;
    padding-bottom: 14px;
}


#hover_solution{
    display:none;
}


.fixed-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: zindex-fixed;
  }

  .my-4{
      width:22px;
      height:5px;
      background-color: white;
      border-top:0px;
      border-right:0px;
      border-left:0px;
      border-bottom: 0x solid white;
  }
#groupe_egae .lead, #solution .lead, #approche .lead {
    font-style: italic;
}
  /***************************Hover********************************************/
#approche:hover #hover_approche,#groupe_egae:hover #hover_groupe,#solution:hover #hover_solution{
display:block;
margin-top:150%;
}

#solution:hover .my-4, #approche:hover .my-4, #groupe_egae:hover .my-4{
    animation : anim_barre 0.5s both;
}

#solution:hover .blocktext, #approche:hover .blocktext, #groupe_egae:hover .blocktext{
    animation: slide-top 0.5s linear 0.19999s both;
  } 

/******************************Animation slide-top **************************/





.slide-top {
  -webkit-animation: slide-top 1s 2s linear;
          animation: slide-top 1s 2s linear;
}



@-webkit-keyframes slide-top {
0% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
        
}
100% {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
          opacity: 50%;
}
}
@keyframes slide-top {
0% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
100% {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
          opacity: 50%;
}
} 




  /**************************Animations***********************************/
  @keyframes anim_barre{
      0%{
          width:22px;
      }
      100%{
          width:100px;
          border : 0 solid white;
          border-bottom:0.1px solid white;
      }
  }

  .slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

  /*********************Responsive*************************/

  
  @media all and (max-width:490px){
    #groupe_egae, #solution, #approche{
        height:400px;
    }

    .navbar{
        background-color: white;
        height: 30%;
    }

    .navbar img{
        padding:0;
        width:200px;
        height: 80px;
    }
  }