html, body{
    height:100%;
}
a, a:hover{
    text-decoration: none;
    color:white;
}

#approche{
    background: linear-gradient(transparent,rgba(0,0,0,1)),url('img/image-1-egae-1000x1800.jpg');
    background-size:cover;

    color:white;
    height:750px;
}
#groupe_egae{
    background: linear-gradient(transparent,rgba(0,0,0,1)),url('img/image\ colonne1.jpg');
    background-size: cover;
    height: 750px; 
}

#hover_approche{
    display:none;
}

#approche:hover #hover_approche{
    display:block;
}
#solution{
    background: url('img/Asite_couv21.jpg');
    background-size: cover;
    height:750px;
}

#hover_groupe{
    display:none;
}
#groupe_egae:hover #hover_groupe{
    display:block;
}

.fixed-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: zindex-fixed;
  }
